[Unit]
Description=Resonite headless server
Requires=network-online.target
After=network-online.target

[Service]
Type=notify
ExecStart=/usr/lib/crystite/crystite
Restart=always

User=crystite
Group=crystite

WorkingDirectory=/var/lib/crystite

# Various security options. These are mainly recommended becase Resonite contains a complete code execution engine that
# runs in-process, and is by its very nature always running unknown external user code. ProtoFlux is theoretically 
# already sandboxed, but better safe than sorry.
#
# In summary, everything including the kitchen sink is restricted, and the only thing that is allowed is network
# communication + read/write without the ability to execute binaries inside the configured data directory.
NoNewPrivileges=true
LockPersonality=true
SystemCallArchitectures=native

PrivateTmp=true
PrivateIPC=true

ProtectHome=true
ProtectSystem=strict
PrivateUsers=true
ProtectHostname=true
ProtectClock=true
ProtectKernelTunables=true
ProtectKernelModules=true
ProtectKernelLogs=true
ProtectControlGroups=true

RestrictAddressFamilies=AF_INET AF_INET6 AF_UNIX
RestrictNamespaces=true
RestrictRealtime=true

ReadWritePaths=/var/lib/crystite /var/log/crystite
NoExecPaths=/var/lib/crystite /var/log/crystite
ExecPaths=/var/lib/crystite/Resonite

[Install]
WantedBy=multi-user.target
