#!/usr/bin/make -f

export DOTNET_NOLOGO=true
export DOTNET_CLI_TELEMETRY_OPTOUT=true
export DOTNET_SKIP_FIRST_TIME_EXPERIENCE=true

%:
	dh $@

override_dh_auto_clean:
	dotnet clean

override_dh_auto_build:
	dotnet publish -f net7.0 -c Release -r linux-x64 --self-contained false -o bin Crystite
	chmod -x bin/*.dll

override_dh_installsystemd:
	dh_installsysusers
	dh_installsystemd --no-start --no-enable
