#!/usr/bin/make -f

export DOTNET_NOLOGO=true
export DOTNET_CLI_TELEMETRY_OPTOUT=true
export DOTNET_SKIP_FIRST_TIME_EXPERIENCE=true

ifeq ($(BUILD_HOST_ARCH), amd64)
	export RID=linux-amd64
else ifeq ($(BUILD_HOST_ARCH), arm64)
	export RID=linux-arm64
else
$(error unsupported runtime architecture - consult the .NET documentation)
endif

%:
	dh $@ --with bash-completion

override_dh_auto_clean:
	dotnet clean

override_dh_auto_build:
	dotnet publish -f net7.0 -c Release -r $(RID) --self-contained false -o bin
	ronn -r -o bin Crystite/crystite.1.ronn
	ronn -r -o bin Crystite.Control/crystitectl.1.ronn
	chmod -x bin/*.dll
	chmod 640 bin/appsettings.json

override_dh_installsystemd:
	dh_installsysusers
	dh_installsystemd --no-start --no-enable
